/build/*
makefile
/manual/*.aux
/manual/*.dvi
/manual/*.log
/manual/*.idx
/manual/*.toc

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
cmake_install.cmake

src/A/AgetC.F
src/B/BcoeffFFC.F
src/B/BgetC.F
src/C/CgetC.F
src/D/DgetC.F
src/E/E0funcC.F
src/E/EcoeffaC.F
src/E/EcoeffbC.F
src/E/EgetC.F
src/libooptools-quad.a
src/libooptools.a
src/lt
src/lt-quad
src/util/DumpC.F
src/util/Li2C.F
src/util/Li2omxC.F
src/util/solveC.F
